### Unity folders and files ###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/

# file on crash reports
sysinfo.txt

# Unity3D generated meta files
*.pidb.meta

### Folders to track ###
!Assets/**

### VS/MD solution and project files ###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb

### OS generated ###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

### CMake and CPP files to ignore ###
*.cmake
*.cpp
*.log
*.o
/Coon vs Janitors/.utmp/Debug/2s4g3z10/arm64-v8a
/Coon vs Janitors/.utmp/Debug/2s4g3z10
